#sign {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

#sign .wrap {
  background-color: #fff;
  width: 600px;
  height: 700px;
  border-radius: 20px;
  position: relative;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sign .wrap .close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 25px;
  height: 25px;
  font-size: 0;
  display: block;
  background-image: url(../img/svg/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#sign .wrap h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

#sign .wrap .signup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#sign .wrap .signup input {
  box-sizing: border-box;
  padding: 20px;
  color: #000;
  font-size: 14px;
  border: 1px solid #999;
  border-radius: 8px;
}

#sign .wrap .signup input::placeholder {
  color: #BABABA;
}

#sign .wrap .signup .sign-btn {
  padding: 20px !important;
  color: #fff;
  background-color: #000 !important;
  box-sizing: border-box;
  font-size: 14px;
}

#sign .wrap .signup p {
  color: #000;
  font-size: 14px;
}

#sign .wrap .signup p button {
  color: #727272;
  text-decoration: underline;
}