#home{
  height: 100%;
  min-height: 100%;
  margin-top: 70px;
}

#home .wrap{}

#home .card-grid{
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  justify-content: space-between;
  row-gap: 60px;
}